@media(min-width: 1281px){
    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-size: 10px;
    }

    @view-transition{
        navigation: auto;
    }

    ::view-transition-group(*){
        animation-duration: 1s;
    }

    ::view-transition-old(root){
        animation: slide-out-to-left 1s forwards;
    }

    @keyframes slide-out-to-left{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-100%);
        }
    }

    ::view-transition-new(root){
        animation: slide-from-to-rigth 1s forwards;
    }

    @keyframes slide-from-to-rigth {
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(0%);
        }
    }

    body{
        width: 100%;
        height: 100svh;
    }

    .content_header{
        
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 10;
        height: 100px;
        padding: 2rem;
        background-color: white;
        border-bottom: 2px solid #004add;
    }

    .link_header{
        text-decoration: none;
    }

    .logo_content{
        display: flex;
        justify-content: center;
    }

    .logo_header{
        width: 200px;
    }

    /*Zona Footer*/
    .footer_zona{
        position: static;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f4f4f4;
    }

    .box_footer{
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }

    #logo_footer{
        grid-column:  1 / 4;
        width: 10rem;
    }

    .titulo_footer{
        font-size: 3rem;
        color: #004add;
        margin: 1rem 0;
    }


    .list_footer{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .element_list{
        font-size: 2rem;
    }

    .element_list span{
        font-size: 2rem;
        font-weight: bold;
    }
}

@media (min-width: 1025px) and (max-width:1280px){
    *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-size: 10px;
    }

    @view-transition{
        navigation: auto;
    }

    ::view-transition-group(*){
        animation-duration: 1s;
    }

    ::view-transition-old(root){
        animation: slide-out-to-left 1s forwards;
    }

    @keyframes slide-out-to-left{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-100%);
        }
    }

    ::view-transition-new(root){
        animation: slide-from-to-rigth 1s forwards;
    }

    @keyframes slide-from-to-rigth {
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(0%);
        }
    }

    body{
        width: 100%;
        height: 100svh;
    }

    .content_header{
        
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 10;
        height: 100px;
        padding: 2rem;
        background-color: white;
        border-bottom: 2px solid #004add;
    }

    .link_header{
        text-decoration: none;
    }

    .logo_content{
        display: flex;
        justify-content: center;
    }

    .logo_header{
        width: 200px;
    }

    /*Zona Footer*/
    .footer_zona{
        position: static;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f4f4f4;
    }

    .box_footer{
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }

    #logo_footer{
        grid-column:  1 / 4;
        width: 10rem;
    }

    .titulo_footer{
        font-size: 3rem;
        color: #004add;
        margin: 1rem 0;
    }


    .list_footer{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .element_list{
        font-size: 2rem;
    }

    .element_list span{
        font-size: 2rem;
        font-weight: bold;
    }
}

@media(min-width: 901px) and (max-width: 1024px){
        *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-size: 10px;
    }

    @view-transition{
        navigation: auto;
    }

    ::view-transition-group(*){
        animation-duration: 1s;
    }

    ::view-transition-old(root){
        animation: slide-out-to-left 1s forwards;
    }

    @keyframes slide-out-to-left{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-100%);
        }
    }

    ::view-transition-new(root){
        animation: slide-from-to-rigth 1s forwards;
    }

    @keyframes slide-from-to-rigth {
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(0%);
        }
    }

    body{
        width: 100%;
        height: 100svh;
    }

    .content_header{
        
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 10;
        height: 100px;
        padding: 2rem;
        background-color: white;
        border-bottom: 2px solid #004add;
    }

    .link_header{
        text-decoration: none;
    }

    .logo_content{
        display: flex;
        justify-content: center;
    }

    .logo_header{
        width: 200px;
    }

    /*Zona Footer*/
    .footer_zona{
        position: static;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f4f4f4;
    }

    .box_footer{
        width: 90%;
        margin: 0 auto;
        padding: 2rem;
    }

    #logo_footer{
        grid-column:  1 / 4;
        width: 10rem;
    }

    .titulo_footer{
        font-size: 3rem;
        color: #004add;
        margin: 1rem 0;
    }


    .list_footer{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .element_list{
        font-size: 2rem;
    }

    .element_list span{
        font-size: 2rem;
        font-weight: bold;
    }
}

@media(min-width:769px) and (max-width:900px){
        *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-size: 10px;
    }

    @view-transition{
        navigation: auto;
    }

    ::view-transition-group(*){
        animation-duration: 1s;
    }

    ::view-transition-old(root){
        animation: slide-out-to-left 1s forwards;
    }

    @keyframes slide-out-to-left{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-100%);
        }
    }

    ::view-transition-new(root){
        animation: slide-from-to-rigth 1s forwards;
    }

    @keyframes slide-from-to-rigth {
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(0%);
        }
    }

    body{
        width: 100%;
        height: 100svh;
    }

    .content_header{
        
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 10;
        height: 100px;
        padding: 2rem;
        background-color: white;
        border-bottom: 2px solid #004add;
    }

    .link_header{
        text-decoration: none;
    }

    .logo_content{
        display: flex;
        justify-content: center;
    }

    .logo_header{
        width: 200px;
    }

    /*Zona Footer*/
    .footer_zona{
        position: static;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f4f4f4;
    }

    .box_footer{
        width: 100%;
        margin: 0 auto;
        padding: 2rem;
    }

    #logo_footer{
        grid-column:  1 / 4;
        width: 10rem;
    }

    .titulo_footer{
        font-size: 3rem;
        color: #004add;
        margin: 1rem 0;
    }


    .list_footer{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .element_list{
        font-size: 2rem;
    }

    .element_list span{
        font-size: 2rem;
        font-weight: bold;
    }
} 

@media (min-width: 601px) and (max-width: 768px){
        *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-size: 10px;
    }

    @view-transition{
        navigation: auto;
    }

    ::view-transition-group(*){
        animation-duration: 1s;
    }

    ::view-transition-old(root){
        animation: slide-out-to-left 1s forwards;
    }

    @keyframes slide-out-to-left{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-100%);
        }
    }

    ::view-transition-new(root){
        animation: slide-from-to-rigth 1s forwards;
    }

    @keyframes slide-from-to-rigth {
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(0%);
        }
    }

    body{
        width: 100%;
        height: 100svh;
    }

    .content_header{
        
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 10;
        height: 100px;
        padding: 2rem;
        background-color: white;
        border-bottom: 2px solid #004add;
    }

    .link_header{
        text-decoration: none;
    }

    .logo_content{
        display: flex;
        justify-content: center;
    }

    .logo_header{
        width: 200px;
    }

    /*Zona Footer*/
    .footer_zona{
        position: static;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f4f4f4;
    }

    .box_footer{
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }

    #logo_footer{
        grid-column:  1 / 4;
        width: 10rem;
    }

    .titulo_footer{
        font-size: 3rem;
        color: #004add;
        margin: 1rem 0;
    }


    .list_footer{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .element_list{
        font-size: 2rem;
    }

    .element_list span{
        font-size: 2rem;
        font-weight: bold;
    }
}

@media (min-width: 481px) and (max-width:600px){
        *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-size: 10px;
    }

    @view-transition{
        navigation: auto;
    }

    ::view-transition-group(*){
        animation-duration: 1s;
    }

    ::view-transition-old(root){
        animation: slide-out-to-left 1s forwards;
    }

    @keyframes slide-out-to-left{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-100%);
        }
    }

    ::view-transition-new(root){
        animation: slide-from-to-rigth 1s forwards;
    }

    @keyframes slide-from-to-rigth {
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(0%);
        }
    }

    body{
        width: 100%;
        height: 100svh;
    }

    .content_header{
        
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 10;
        height: 100px;
        padding: 2rem;
        background-color: white;
        border-bottom: 2px solid #004add;
    }

    .link_header{
        text-decoration: none;
    }

    .logo_content{
        display: flex;
        justify-content: center;
    }

    .logo_header{
        width: 200px;
    }

    /*Zona Footer*/
    .footer_zona{
        position: static;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f4f4f4;
    }

    .box_footer{
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }

    #logo_footer{
        grid-column:  1 / 4;
        width: 10rem;
    }

    .titulo_footer{
        font-size: 3rem;
        color: #004add;
        margin: 1rem 0;
    }

    .list_footer{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .element_list{
        font-size: 2rem;
    }

    .element_list span{
        font-size: 2rem;
        font-weight: bold;
    }
}

@media (max-width: 480px){
        *{
        box-sizing: border-box;
        margin: 0px;
        padding: 0px;
        font-size: 10px;
    }

    @view-transition{
        navigation: auto;
    }

    ::view-transition-group(*){
        animation-duration: 1s;
    }

    ::view-transition-old(root){
        animation: slide-out-to-left 1s forwards;
    }

    @keyframes slide-out-to-left{
        0%{
            transform: translateX(0);
        }
        100%{
            transform: translateX(-100%);
        }
    }

    ::view-transition-new(root){
        animation: slide-from-to-rigth 1s forwards;
    }

    @keyframes slide-from-to-rigth {
        0%{
            transform: translateX(100%);
        }
        100%{
            transform: translateX(0%);
        }
    }

    body{
        width: 100%;
        height: 100svh;
    }

    .content_header{
        
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 10;
        height: 100px;
        padding: 2rem;
        background-color: white;
        border-bottom: 2px solid #004add;
    }

    .link_header{
        text-decoration: none;
    }

    .logo_content{
        display: flex;
        justify-content: center;
    }

    .logo_header{
        width: 200px;
    }

    /*Zona Footer*/
    .footer_zona{
        position: static;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: #f4f4f4;
    }

    .box_footer{
        width: 80%;
        margin: 0 auto;
        padding: 2rem;
    }

    #logo_footer{
        grid-column:  1 / 4;
        width: 10rem;
    }

    .titulo_footer{
        font-size: 3rem;
        color: #004add;
        margin: 1rem 0;
    }

    .list_footer{
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    .element_list{
        font-size: 2rem;
    }

    .element_list span{
        font-size: 2rem;
        font-weight: bold;
    }
}